@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --thickglass-from: rgba(255, 255, 255, 0.9);
  --thickglass-to: rgba(255, 255, 255, 0.4);
  --glass-from: rgba(255, 255, 255, 0.115);
  --glass-to: rgba(255, 255, 255, 0.03);
  --font-geist-sans: "Geist Sans", system-ui, sans-serif;
  --font-geist-mono: "Geist Mono", ui-monospace, monospace, monospace;
  --text2: #8d8d95;
  --shadow-inset-top: rgba(255, 255, 255, 0.2);
  --border2: rgba(255, 255, 255, 0.174);
  --thickglass-from: rgba(255, 255, 255, 0.9);
  --thickglass-to: rgba(195, 195, 195, 0.7);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.marquee {
  width: max-content;
  animation: marquee 90s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-50% - 12px));
  }
}
