@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --thickglass-from: rgba(255, 255, 255, 0.9);
  --thickglass-to: rgba(255, 255, 255, 0.4);
  --glass-from: rgba(255, 255, 255, 0.115);
  --glass-to: rgba(255, 255, 255, 0.03);
  --font-geist-sans: "Geist Sans", system-ui, sans-serif;
  --font-geist-mono: "Geist Mono", ui-monospace, monospace, monospace;
  --text2: #8d8d95;
  --shadow-inset-top: rgba(255, 255, 255, 0.2);
  --border2: rgba(255, 255, 255, 0.174);
  --thickglass-from: rgba(255, 255, 255, 0.9);
  --thickglass-to: rgba(195, 195, 195, 0.7);
  --glass-bg-hover-from: rgba(255, 255, 255, 0.18);
  --glass-bg-hover-to: rgba(255, 255, 255, 0.06);
  --border-secondary-color: rgba(255, 255, 255, 0.174);
  --shadow-inset-bottom: rgba(255, 255, 255, 0.1);
  --text-primary-color: #ffffff;
  --shadow-drop-sm: rgba(0, 0, 0, 0.233);
  --bg-hover-color: rgba(255, 255, 255, 0.08);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.marquee {
  width: max-content;
  animation: marquee 90s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.ditther-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 28px;
  border-radius: 8px;
  outline: none;

  background:
    linear-gradient(to right,
      #3a3a3d 0%,
      #3a3a3d var(--fill),
      #242427 var(--fill),
      #242427 100%);

  cursor: pointer;
}

.ditther-slider::-webkit-slider-thumb {
  -webkit-appearance: none;

  width: 2px;
  height: 28px;

  background: transparent;

  border: none;
}

.ditther-slider::-moz-range-thumb {
  width: 2px;
  height: 42px;
  background: transparent;
  border: none;
}

@keyframes modal-in {
  from {
    opacity: 0;
    transform: scale(0.95) translateY(6px);
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.modal-enter {
  animation: modal-in 0.2s cubic-bezier(0.16, 1, 0.3, 1) both;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-50% - 12px));
  }
}

.effect-sliders-group {
  display: flex;
  flex-direction: column;
  gap: var(--gutter-lg);
  margin-top: 8px;
}

.effect-slider-row {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  transition: all var(--transition-md);
}

.effect-slider-row .slider-label {
  font-size: var(--font-size-xsm);
  color: var(--text-accent-color);
}
